.conf{
    display : none;
        
}
.Maclass{
    display: inline;
}
.B_aP{
    display : inline;
}
.B_aM{
    display : none;
}
.submitjs{

}
.submitnojs{
}
.Monsucces{
 display: none;  
    
}
.Moninfo{
 display: none;  
    
}
.Mondanger{
 display: none;  
    
 }